* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1;
  flex-basis: 50%;
  height: 70%;
  background-color: darkseagreen;
  display: flex;
}

.flex-item-2 {
  flex: 2;
  flex-basis: 50%;
  height: 70%;
  background-color: salmon;
  display: flex;
}

.flex-item-3 {
  flex: 3;
  height: 30%;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
}

.flex-column-1 {
  flex: 1;
  flex-basis: 50%;
  justify-content: left;
  background-color: rgba(240, 255, 255, 0.404);
  padding: 10px;
}

.flex-column-2 {
  flex: 2;
  flex-basis: 50%;
  justify-content: right;
  text-align: center;
  background-color: rgba(240, 255, 255, 0.404);
  padding: 10px;
}

.content-header {
  text-align: center;
}
